// COLOR SCHEMES

// Colors
$bg-prim: #0275d8;
$bg-success: #5cb85c;
$bg-info: #5bc0de;
$bg-warning: #f0ad4e;
$bg-danger: #d9534f;
$bg-dark: #292b2c;
$bg-light: #f7f7f7;

$sea-green: #09814a;
$sea-green-dark: #08502f;
$theme-color: rgba(0, 0, 0, 0.125);
